.thumbnail-caption {
  background-color: #66023C;
}

.thumbnail {
  background-color: #8D2963;
  border-color: #B8860B;
  border-width: 5px;
  padding: 10px
}

#ending_citation {
  color: #B8860B;
}

#ending_quote {
  border-color: #B8860B;
  margin-top: 10px;
}