<div class="jumbotron shadow">
	<h2 class="forum-divider-bottom text-center">Enroll in the Basileus's Court!</h2>
	<form method="post" action="/forum_users" class="center-block text-center quarter-width">
		<div class="form-group">
			<label for="username">Username:</label>
			<input class="form-control forum-input" id="username" name="forum_user[username]" type="text">
		</div>
		<div class="form-group">
			<label for="email">Email:</label>
			<input class="form-control forum-input" id="email" name="forum_user[email]" type="text">
		</div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input class="form-control forum-input" id="password" name="forum_user[password]" type="password">
		</div>
		<button type="submit" id="signup" class="btn btn-primary btn-forum shadow">
			<i class="fa fa-paper-plane"></i> Signup
		</button>
	</form>
	<% error_messages = ""
	if @user.errors.any?
		@user.errors.full_messages.each do |error|
			error_messages += error + "<br>"
		end %>
		<blockquote class='quote center-block half-width top-margin-10px'>
			<p><%=error_messages%></p>
			<footer><cite class="citation">The Basileus</cite></footer>
		</blockquote>
	<% end %>
</div>