<div class="jumbotron text-center shadow">
	<h2 class="forum-divider-bottom">Enroll in the Basileus's Court!</h2>
	<form method="post" action="/users" class="center-block quarter-width">
		<div class="form-group">
			<label for="username">Username:</label>
			<input class="form-control" id="username" name="forum_user[username]" type="text">
		</div>
		<div class="form-group">
			<label for="email">Email:</label>
			<input class="form-control" id="email" name="forum_user[email]" type="text">
		</div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input class="form-control" id="password" name="forum_user[password]" type="password">
		</div>
		<button type="submit" id="signup" class="btn btn-primary btn-forum shadow">
			<i class="fa fa-paper-plane"></i> Signup
		</button>
	</form>
</div>