<a href="/forum_threads/new">
	<div class="jumbotron shadow">
		<h2>Create Thread</h2>
	</div>
</a>
<div class="jumbotron shadow">
	<% @threads.each do |thread| %>
		<div class="row">
			<div class="col-xs-4"
			</div>
			<div class="col-xs-8"
			</div>
		</div>
		<% if moderator? %>
			<form method="post" action="/treads">
				<input type="hidden" name="_method" value="delete">
				<input type="hidden" name="thread[id]" value=<%=thread.id%>>
				<button type="submit" id="login" class="btn btn-primary btn-forum shadow">
					<i class="fa fa-bomb"></i> Delete
	 			</button>
	 		</form>
		<% end %>
	<% end %>
</div>