<div class="jumbotron shadow">
	<h2 class="forum-divider-bottom text-center"><%=new_forum_thread_tagline%></h2>
	<form method="post" action="/forum_threads" class="center-block text-center half-width">
		<div class="form-group">
			<label for="title">Title:</label>
			<input class="form-control forum-input" id="title" name="forum_thread[title]" type="text">
		</div>
		<div class="form-group">
			<label for="content">Post Content:</label>
			<textarea rows="20" class="form-control forum-textarea" id="content" name="forum_thread[forum_post_attributes][content]" type="text"></textarea>
		</div>
		<input type="hidden" name="forum_thread[forum_post_attributes][forum_user_id]" value=<%=current_user.id%>>
		<button type="submit" id="create_thread" class="btn btn-primary btn-forum shadow">
			<i class="fa fa-paper-plane"></i> Create Thread
		</button>
	</form>
	<% error_messages = ""
	@thread.errors.delete(:forum_posts)
	if @thread.errors.any?
		@thread.errors.full_messages.each do |error|
			error_messages += error + "<br>"
		end %>
		<blockquote class='quote center-block half-width top-margin-10px'>
			<p><%=error_messages%></p>
			<footer><cite class="citation">The Basileus</cite></footer>
		</blockquote>
	<% end %>
	<% error_messages = ""
	if @thread.forum_posts.last && @thread.forum_posts.last.errors.any?
		@thread.forum_posts.last.errors.full_messages.each do |error|
			error_messages += error + "<br>"
		end %>
		<blockquote class='quote center-block half-width top-margin-10px'>
			<p><%=error_messages%></p>
			<footer><cite class="citation">The Basileus</cite></footer>
		</blockquote>
	<% end %>
</div>