<div class="jumbotron shadow">
  <h1 class="text-center">
    <%= tribute_page_title %>
  </h1>
  <h2 class="text-center">
    <em>
      <%= tribute_page_tagline %>
    </em>
  </h2>
</div>
<img src="/images/C11_P1.jpg" class="img-circle img-responsive center-block shadow" alt="Religious icon depicting Constantine XI." id="title_image">
<div class="jumbotron shadow">
  <section id="Statue">
    <div class="thumbnail shadow">
      <img src="/images/C11_P4.jpg" class="img-responsive shadow"  alt="Statue depicting Constantine XI.">
      <div class="text-center thumbnail-caption shadow">
        This statue of Constantine XI Palaiologos is located in Athen's Mitropoleos Square.
      </div>
    </div>
  </section>
  <section id="Timeline">
  <h3 class="shadow">Timeline</h3>
    <ul class="shadow">
      <li>
        <strong>1405</strong> - Born in Constantinople.
      </li>
      <li>
        <strong>1428</strong> - Married Theodora Tocco, niece of Carlo I Tocco of Epirus.
      </li>
      <li>
        <strong>1429</strong> - First wife dies giving birth to a stillborn daughter.
      </li>
      <li>
        <strong>1437</strong> - Served as regent for his brother, John VIII Palaiologos.
      </li>
      <li>
        <strong>1441</strong> - Marries Caterina Gattilusio, daughter of Dorino of Lesbos.
      </li>
      <li>
        <strong>1442</strong> - Second wife dies after a miscarriage.
      </li>
      <li>
        <strong>1443</strong> - Became despotes of Morea.
      </li>
      <li>
        <strong>1444</strong> - Invaded the Duchy of Athens.
      </li>
      <li>
        <strong>1446</strong> - Failed to defend Hexamilion from an invasion by Ottoman Sultan Murad II.
      </li>
      <li>
        <strong>1449</strong> - Crowned Emperor of the Romans due to meddling by Murad II.
      </li>
      <li>
        <strong>1452</strong> - Rallies the garrison of Constantinople to defend against a seige by Ottoman Sultan Mehmed II.
      </li>
      <li>
        <strong>1453</strong> - Killed in action while staging a last stand when Mehmed II's forces breached Constantinople's walls. Left no issue. His passing marked the end of the Roman Empire.
      </li>
    </ul>
  </section>
  <section id="Painting">
    <img src="/images/C11_P3.jpg" class="img-rounded img-responsive center-block shadow" alt="19th century painting depicting Constantine XI.">
  </section>
  <blockquote class="shadow" id="ending_quote">
    <p>"To surrender the city to you is beyond my authority or anyone else's who lives in it, for all of us, after taking the mutual decision, shall die out of free will without sparing our lives."</p>
    <footer><cite class="citation">Contantine XI Palaiologos, Emperor of the Romans</cite></footer>
  </blockquote>
  <h3 class="text-center">
      If you want to learn more about the Roman Empire's final years, you should check out Constantine XI Palaiologos's <a href="https://en.wikipedia.org/wiki/Constantine_XI_Palaiologos" target="_blank">Wikipedia entry</a>.
  </h3>
</div>